{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}edit goal{% endblock %}

{% block some_css_code %}
<style>
  div.title {
    text-align: center;
  }
</style>
{% endblock %}



{% block content %}

<div class='bg-light'>

  <div class="mb-3 mt-5 title">
    <h2>Create Daily Goal</h2>
  </div>



  <form action="{% url "goals:edit_daily_goal" pk=form.instance.pk %}" method="post" enctype="multipart/form-data" class='uniForm' novalidate>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success mt-3"> <i class="bi bi-pencil"></i> Edit</button> 
  </form>

</div>

{% endblock %}
